extends layout
block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Add Category'
                    div.box-content
                        form.validate.form-horizontal(action='#', id='category-form')
                            div.control-group
                                label.control-label(for='category-name') Name
                                div.controls
                                    input.required(type='text',name='category-name',id='category-name')
                            div.control-group
                                label.control-label(for='category-memo') Memo
                                div.controls
                                    input.span6(type='text',name='category-memo',id='category-memo')
                            div.form-actions
                                input.btn.btn-primary(type='submit', value='Save', id='save-category')
                                input.btn.btn-danger(type='reset',style='margin-left:3px;')
        div.row-fluid
            div.span12
                div.box
                    div.box-head.tabs
                        h3='All Categories'
                    div.box-content.box-nomargin
                        div.tab-content
                            div.tab-pane.active
                                table.table.table-striped.dataTable.table-bordered(id='customers-holder')
                                    thead
                                        tr
                                            th Name
                                            th Memo
                                            th Action
                                    each categoryItem, categoryIndex in category
                                        tr(data-category-id="#{categoryItem._id}")
                                            td.span5(data-category-name="#{categoryItem.name}") #{categoryItem.name}
                                            td.span6(data-category-memo="#{categoryItem.memo}") #{categoryItem.memo}
                                            td.actions.span1
                                                div.btn-group
                                                    a.btn.btn-mini.tip(href='#info-modal',data-toggle='modal', data-original-title='Change Info', title='Change Info')
                                                        img(src='/images/icons/fugue/gear.png', alt='')
                                                    a.btn.btn-mini.tip.deleteRow(href='#info-modal',data-toggle='modal', data-original-title='Remove', title='Remove')
                                                        img(src='/images/icons/fugue/cross.png', alt='')
                            div.dataTables_info #{total} entries
                            div.dataTables_paginate.paging_bootstrap.pagination(style='display:none;')
                                ul
                                    li.prev.disabled
                                        a(href='#') &lt;Previous
                                    li.active
                                        a(href='#') 1
                                    li
                                        a(href='#') 2
                                    li.next
                                        a(href='#') Next&gt;
                            div.modal.hide(id='info-modal')
                                div.modal-header
                                    button.close(data-dismiss='modal', type='button') ×
                                    h3='Change Customer Info'
                                div.modal-body
                                div.modal-footer
                                    a.btn(data-dismiss='modal', href='#') Close
                                    a.btn.btn-primary(data-dismiss='modal', href='#') Confirm
block scriptContent
    script(type='x/template', id='customer-row-template').
        <tr data-category-id="{id}">
            <td data-category-name="{name}">{name}</td>
            <td data-categoryr-memo="{memo}">{tel}</td>
            <td class="actions">
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-mini tip">
                        <img src="/images/icons/fugue/gear.png" alt=""/>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-mini tip deleteRow">
                        <img src="/images/icons/fugue/cross.png" alt=""/>
                    </a>
                </div>
            </td>
        </tr>
    script(type='x/template', id='category-form-template').
        <div class="modal-body">
            <form class="validate form-horizontal" action="#" id="category-change-form">
                <div class="control-group">
                    <label class="control-label" for="category-name">Name</label>
                    <div class="controls">
                        <input class="required" type="text" name="category-name" id="category-name" value="{name}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="category-memo">Memo</label>
                    <div class="controls">
                        <input type="text" name="category-memo" id="category-memo" value="{memo}"/>
                    </div>
                </div>
            </form>
        </div>
    script.
        seajs.use(['jquery', 'static/category/event']);