extends layout
block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Add Customer'
                    div.box-content
                        form.validate.form-horizontal(action='#', id='customer-form')
                            div.control-group
                                label.control-label(for='customer-name') Name
                                div.controls
                                    input.required(type='text',name='customer-name',id='customer-name')
                            div.control-group
                                label.control-label(for='customer-tel') Tel
                                div.controls
                                    input.required.tel(type='text',name='customer-tel',id='customer-tel')
                            div.control-group
                                label.control-label(for='customer-addr-street') Address-Street
                                div.controls
                                    input.required.span6(type='text',name='customer-addr-street',id='customer-addr-street')
                            div.control-group
                                label.control-label(for='customer-addr-city') Address-City
                                div.controls
                                    input.required(type='text',name='customer-addr-city',id='customer-addr-city')
                            div.control-group
                                label.control-label(for='customer-addr-country') Address-Country
                                div.controls
                                    input(type='text',name='customer-addr-country',id='customer-addr-country')
                            div.form-actions
                                input.btn.btn-primary(type='submit', value='Save', id='save-customer')
                                input.btn.btn-danger(type='reset',style='margin-left:3px;')
        div.row-fluid
            div.span12
                div.box
                    div.box-head.tabs
                        h3='All Customers'
                    div.box-content.box-nomargin
                        div.tab-content
                            div.tab-pane.active
                                table.table.table-striped.dataTable.table-bordered(id='customers-holder')
                                    thead
                                        tr
                                            th Name
                                            th Tel
                                            th Address
                                            th Action
                                    each customerItem, customerIndex in customers
                                        tr(data-customer-id="#{customerItem._id}")
                                            td(data-customer-name="#{customerItem.name}") #{customerItem.name}
                                            td(data-customer-tel="#{customerItem.tel}") #{customerItem.tel}
                                            td(data-customer-address="#{customerItem.address}") #{customerItem.fixAddress}
                                            td.actions
                                                div.btn-group
                                                    a.btn.btn-mini.tip(href='#info-modal',data-toggle='modal', data-original-title='Change Info', title='Change Info')
                                                        img(src='/images/icons/fugue/gear.png', alt='')
                                                    a.btn.btn-mini.tip.deleteRow(href='#info-modal',data-toggle='modal', data-original-title='Remove', title='Remove')
                                                        img(src='/images/icons/fugue/cross.png', alt='')
                            div.dataTables_info Showing #{startIndex} to #{endIndex} of #{total} entries
                            div.dataTables_paginate.paging_bootstrap.pagination(style='display:none;')
                                ul
                                    li.prev.disabled
                                        a(href='javascript:void(0);') &lt;Previous
                                    li.active
                                        a(href='javascript:void(0);') 1
                                    li.next.disabled
                                        a(href='javascript:void(0);') Next&gt;
                            div.modal.hide(id='info-modal')
                                div.modal-header
                                    button.close(data-dismiss='modal', type='button') ×
                                    h3='Change Customer Info'
                                div.modal-body
                                div.modal-footer
                                    a.btn(data-dismiss='modal', href='#') Close
                                    a.btn.btn-primary(data-dismiss='modal', href='#') Confirm
block scriptContent
    script(type='x/template', id='customer-row-template').
        <tr data-customer-id="{id}">
            <td data-customer-name="{name}">{name}</td>
            <td data-customer-tel="{tel}">{tel}</td>
            <td data-customer-address="{address}">{fix-address}</td>
            <td class="actions">
                <div class="btn-group">
                    <a href='#info-modal' data-toggle='modal' class="btn btn-mini tip">
                        <img src="/images/icons/fugue/gear.png" alt=""/>
                    </a>
                    <a href='#info-modal' data-toggle='modal' class="btn btn-mini tip deleteRow">
                        <img src="/images/icons/fugue/cross.png" alt=""/>
                    </a>
                </div>
            </td>
        </tr>
    script(type='x/template', id='customer-form-template').
        <div class="modal-body">
            <form class="validate form-horizontal" action="#" id="customer-change-form">
                <div class="control-group">
                    <label class="control-label" for="customer-name">Name</label>
                    <div class="controls">
                        <input class="required" type="text" name="customer-name" id="customer-name" value="{name}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="customer-tel">Tel</label>
                    <div class="controls">
                        <input class="required tel" type="text" name="customer-tel" id="customer-tel" value="{tel}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="customer-addr-street">Address-Street</label>
                    <div class="controls">
                        <input class="required" type="text" name="customer-addr-street" id="customer-addr-street" value="{address.street}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="customer-addr-city">Address-City</label>
                    <div class="controls">
                        <input class="required" type="text" name="customer-addr-city" id="customer-addr-city" value="{address.city}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="customer-addr-country">Address-Country</label>
                    <div class="controls">
                        <input type="text" name="customer-addr-country" id="customer-addr-country" value="{address.country}"/>
                    </div>
                </div>
            </form>
        </div>
    script.
        seajs.use(['jquery', 'static/customer/event']);