extends layout

block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Guide'
                    div.box-content
                        //button(id='remote-trigger') Remote Request
                        h3='Step One'
                        div.span12.row-fluid
                            div.span12
                                strong Create customer by clicking the link as the following figure.
                            div.span12
                                img(src='/images/static/guide-customer.jpg')
                        div.span12.row-fluid
                            div.span12
                                strong then fill in the customer infomation and save.
                            div.span12
                                img(src='/images/static/guide-customer-action.jpg', style='width:700px; height:400px;')
                        h3='Step Two'
                        div.span12.row-fluid
                            div.span12
                                strong Create category, same as step one.
                            div.span12
                                img(src='/images/static/guide-category.jpg')
                        div.span12.row-fluid
                            div.span12
                                img(src='/images/static/guide-category-action.jpg', style='width:500px; height:200px;')
                        h3='Step Three'
                        div.span12.row-fluid
                            div.span12
                                strong Create product, same as step one.
                            div.span12
                                img(src='/images/static/guide-product.jpg')
                        div.span12.row-fluid
                            div.span12
                                img(src='/images/static/guide-product-action.jpg', style='width:700px; height:400px;')
                        h3='Step Four'
                        div.span12.row-fluid
                            div.span12
                                strong Create your order
                            div.span12
                                img(src='/images/static/guide-order.jpg')
                        div.span12.row-fluid
                            div.span12
                                strong Choose customer and choose product, and click the "Add to Order" button.
                            div.span12
                                img(src='/images/static/guide-order-action1.jpg', style='width:700px; height:400px;')
                        div.span12.row-fluid
                            div.span12
                                strong Those products you choose will add to the order list and caculate the total price automatically.
                                strong Then click the 'Save Order' button to save your order.
                            div.span12
                                img(src='/images/static/guide-order-action2.jpg', style='width:700px; height:400px;')
                        h3='Step Five'
                        div.span12.row-fluid
                            div.span12
                                strong Finally, you can search your order.
                            div.span12
                                img(src='/images/static/guide-order-search.jpg')
                        div.span12.row-fluid
                            div.span12
                                img(src='/images/static/guide-order-search-result.jpg', style='width:1100px; height:400px;')
                        div.span12.row-fluid
                            div.span12
                                strong Click the order no. link will take you to order's detail page.
                            div.span12
                                img(src='/images/static/guide-order-detail.jpg',style='width:900px; height:600px;')
block scriptContent
    script.
        seajs.use('jquery', function($){
            $(function(){
                $.ajaxSetup({
                    cache: false
                });
                $('#remote-trigger').click(function(){
                    $.getJSON('/remote.html', function(data){
                        console.log(data);
                    });
                });
            });
        });