extends layout
append css
    link(rel='stylesheet', href='/stylesheets/print.css',media='print')
block content
    div.content
        div.row-fluid.force-margin
            div.span12
                div.alert.alert-info
                    strong Information:
                    | This order can be printed!
        div.row-fluid.printable.no-margin
            div.span12
                div.box
                    div.box-head
                        h3='Order Detail'
                        div.actions
                            ul
                                li
                                    a.btn.btn-mini.tip(href='javascript:printOrder();',title='Print this invoice')
                                        img(src='/images/icons/fugue/printer.png',alt='' )
                    div.box-content
                        div.invoice
                            - if (company) {
                                div.invoice-name Order
                                div.invoice-company
                                    h2='#{company.name}'
                                div.invoice-from
                                    strong #{company.name}
                                    address Street Address
                                        br
                                        |#{company.address}
                                        br
                                        abbr(title='Phone') Phone:
                                        |#{company.tel}
                                        br
                            - }
                            div.invoice-to
                                strong To:
                                address Street Address
                                    br
                                    |#{order.customer_fixAddress}
                                    br
                                    abbr(title='Phone') Phone:
                                    |#{order.customer_tel}
                                    br
                            div.invoice-infos
                                table
                                    tr
                                        th Date:
                                        td #{order.order_date}
                                    tr
                                        th No #:
                                        td #{order.no}
                            table.table.table-striped.table-invoice.table-bordered
                                thead
                                    tr
                                        th Product
                                        th Price(￡)
                                        th Qty
                                        th Total(￡)
                                tbody
                                    each prodcutItem, productIndex in order.details
                                        tr
                                            td.name #{prodcutItem.product_name}
                                            td.price #{prodcutItem.product_price}
                                            td.qty #{prodcutItem.product_qty}
                                            td.total #{(prodcutItem.product_qty * prodcutItem.product_price).toFixed(2)}
                                    tr
                                        td
                                        td
                                        td.last Total:
                                        td.total #{order.total}
                            - if (company) {
                                div.invoice-footer
                                    h4='#{company.name}'
                                    address Street Address
                                        br
                                        | #{company.address}
                                        br
                                        abbr(title='Phone') Phone:
                                        | #{company.tel}
                                        br
                            - }
    script.
        (function(window){
            window.printOrder = function(){
                window.print && window.print();
            };
        })(window);