extends layout
append css
    link(rel='stylesheet', href='/stylesheets/jquery.jgrowl.css')
    style.
        #product-qty-actions a {
            text-decoration: none;
        }
block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Choose Customer'
                    div.box-content
                        form.validate.form-horizontal(action='#', id='customer-form')
                            div.control-group
                                label.control-label(for='customer-id') Customer
                                div.controls
                                    select.required(id='customer-id', name='customer-id')
                                        option(value='') Choose one
                                        each customerItem, customerIndex in customer
                                            option(value='#{customerItem.id}') #{customerItem.name}
                            div
                                div.control-group(style='display:none;')
                                    label.control-label(for='customer-name') Name
                                    div.controls
                                        input.required(type='text',name='customer-name',id='customer-name')
                                div.control-group
                                    label.control-label(for='customer-tel') Tel
                                    div.controls
                                        input.required.tel(type='text',name='customer-tel',id='customer-tel')
                                div.control-group
                                    label.control-label(for='customer-addr-street') Address-Street
                                    div.controls
                                        input.required.span6(type='text',name='customer-addr-street',id='customer-addr-street')
                                div.control-group
                                    label.control-label(for='customer-addr-city') Address-City
                                    div.controls
                                        input.required(type='text',name='customer-addr-city',id='customer-addr-city')
                                div.control-group
                                    label.control-label(for='customer-addr-country') Address-Country
                                    div.controls
                                        input(type='text',name='customer-addr-country',id='customer-addr-country')
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Choose Product'
                    div.box-content
                        form.form.validate(action='#', id='product-form')
                            div.row-fluid.force-margin
                                div.span3
                                    div.control-group
                                        label.control-label(for='category-id') Category
                                        div.controls
                                            select.required(name='category-id', id='category-id')
                                                option(value='') Choose One
                                                each categoryItem, categoryIndex in category
                                                    option(value='#{categoryItem.id}') #{categoryItem.name}
                                div.span3
                                    div.control-group
                                        label.control-label(for='product-id') Product
                                        div.controls
                                            select.required(name='product-id', id='product-id')
                                                option(value='') Choose One
                                div.span3
                                    div.control-group
                                        label.control-label(for='product-price') Price
                                        div.controls
                                            div.input-prepend
                                                span.add-on $
                                                input.required.number.gtZero(type='text',name='product-price',id='product-price')
                                div.span3
                                    div.control-group
                                        label.control-label(for='product-qty') Qty
                                        div.controls
                                            div.input-append.input-prepend(id='product-qty-actions')
                                                span.add-on(data-action='minus')
                                                    a(href='javascript:void(0);') -
                                                input.span6.required.number.gtZero(type='text',name='product-qty',id='product-qty', value='0')
                                                span.add-on(data-action='add')
                                                    a(href='javascript:void(0);') +
                            div.row-fluid
                                div.span12
                                    div.form-actions
                                        button.btn.btn-primary(id='add-to-order') Add to Order
                                        input.btn.btn-danger(type='reset', value='Reset', style='margin-left:3px;')
        div.row-fluid
            div.span12
                div.box
                    div.box-head.tabs
                        h3='All Products'
                    div.box-content.box-nomargin
                        div.tab-content
                            div.tab-pane.active
                                table.table.table-striped.dataTable.table-bordered(id='order-detail-holder')
                                    thead
                                        tr
                                            th Category
                                            th Product
                                            th Price(￡)
                                            th Qty
                                            th Total(￡)
                                            th Action
                                    tbody
                                        tr(data-total='total')
                                            td
                                            td
                                            td
                                            td(style='text-align:right;') Total:
                                            td 0
                                            td
                        div.row-fluid
                            div.span12
                                div.form-actions
                                    button.btn.btn-primary(id='save-order') Save Order
                                    input.btn.btn-danger(type='reset',id='clear-order', value='Clear Order', style='margin-left:3px;')
block scriptContent
    script(type='x/template', id='product-detail-template').
        <tr>
            <td data-key="id,name" data-product-category-id="{category_id}" data-product-category-name="{category_name}">{category_name}</td>
            <td data-key="id,name" data-product-id="{product_id}" data-product-name="{product_name}">{product_name}</td>
            <td data-key="price" data-product-price="{product_price}">{product_price}</td>
            <td data-key="qty" data-prouct-qty="{product_qty}">{product_qty}</td>
            <td>{total}</td>
            <td class="actions">
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-mini tip deleteRow" title="Remove">
                        <img src="/images/icons/fugue/cross.png" alt=""/>
                    </a>
                </div>
            </td>
        </tr>
    script.
        seajs.use(['jquery', 'static/order/event']);