extends layout
append css
    link(rel='stylesheet', href='/stylesheets/jquery.jgrowl.css')
block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Choose Customer'
                    div.box-content
                        form.validate.form-horizontal(action='#', id='customer-container')
                            div.control-group
                                label.control-label(for='customer-id') Customer
                                div.controls
                                    select.required(id='customer-id', name='customer-id')
                                        option(value='') Choose one
                                        each customerItem, customerIndex in customer
                                            option(value='#{customerItem.id}') #{customerItem.name}
                            div
                                div.control-group(style='display:none;')
                                    label.control-label(for='customer-name') Name
                                    div.controls
                                        input.required(type='text',name='customer-name',id='customer-name')
                                div.control-group
                                    label.control-label(for='customer-tel') Tel
                                    div.controls
                                        input.required.number(type='text',name='customer-tel',id='customer-tel')
                                div.control-group
                                    label.control-label(for='customer-addr-street') Address-Street
                                    div.controls
                                        input.required.span6(type='text',name='customer-addr-street',id='customer-addr-street')
                                div.control-group
                                    label.control-label(for='customer-addr-city') Address-City
                                    div.controls
                                        input.required(type='text',name='customer-addr-city',id='customer-addr-city')
                                div.control-group
                                    label.control-label(for='customer-addr-country') Address-Country
                                    div.controls
                                        input(type='text',name='customer-addr-country',id='customer-addr-country')
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Choose Product'
                    div.box-content
                        form.form(action='#')
                            div.row-fluid.force-margin
                                div.span3
                                    div.control-group
                                        label.control-label(for='select2') Category
                                        div.controls
                                            select(name='category-id', id='category-id')
                                                option Choose One
                                                each categoryItem, categoryIndex in category
                                                    option(value='#{categoryItem.id}') #{categoryItem.name}
                                div.span3
                                    div.control-group
                                        label.control-label(for='product-id') Product
                                        div.controls
                                            select(name='product-id', id='product-id')
                                                option Choose One
                                div.span3
                                    div.control-group
                                        label.control-label(for='product-price') Price
                                        div.controls
                                            div.input-prepend
                                                span.add-on $
                                                input.required(type='text',name='product-price',id='product-price')
                                div.span3
                                    div.control-group
                                        label.control-label(for='product-qty') Qty
                                        div.controls
                                            input.required(type='text',name='product-qty',id='product-qty')
                            div.row-fluid
                                div.span12
                                    div.form-actions
                                        button.btn.btn-primary Add to Order
                                        input.btn.btn-danger(type='reset', value='Reset', style='margin-left:3px;')
        div.row-fluid
            div.span12
                div.box
                    div.box-head.tabs
                        h3='All Products'
                    div.box-content.box-nomargin
                        div.tab-content
                            div.tab-pane.active
                                table.table.table-striped.dataTable.table-bordered(id='customers-holder')
                                    thead
                                        tr
                                            th Category
                                            th Product
                                            th Price
                                            th Qty
                                            th Action
                                        tr(data-product-id="")
                                            td(data-product-name="") Category
                                            td(data-product-price="") Product
                                            td(data-product-memo="") Price
                                            td(data-product-memo="") Qty
                                            td.actions
                                                div.btn-group
                                                    a.btn.btn-mini.tip.deleteRow(href='#', data-original-title='Remove', title='Remove')
                                                        img(src='/images/icons/fugue/cross.png', alt='')
                        div.row-fluid
                            div.span12
                                div.form-actions
                                    button.btn.btn-primary Save Order
                                    input.btn.btn-danger(type='reset', value='Reset', style='margin-left:3px;')
block scriptContent
    script(type='x/template', id='customer-row-template').
        <tr data-category-id="{id}">
            <td data-category-name="{name}">{name}</td>
            <td data-categoryr-memo="{memo}">{tel}</td>
            <td class="actions">
                <div class="btn-group">
                    <a href="javascript:void(0);" class="btn btn-mini tip">
                        <img src="/images/icons/fugue/gear.png" alt=""/>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-mini tip deleteRow">
                        <img src="/images/icons/fugue/cross.png" alt=""/>
                    </a>
                </div>
            </td>
        </tr>
    script.
        (function(){
            seajs.config({
            base: '/javascripts/sea-modules/',
            alias: {
                    'jquery': 'jquery/jquery/1.10.1/jquery.js',
                    'validate': 'jquery/validate/1.13.1/jquery.validate.js',
                    'jgrowl': 'jquery/jgrowl/1.4.2/jquery.jgrowl.js',
                    'utils': '/javascripts/static/utils/index.js'
                }
            });
            seajs.use(['jquery', '/javascripts/static/order/event']);
        })();