extends layout
block content
    div.content
        div.row-fluid
            div.span12
                div.box
                    div.box-head
                        h3='Add User'
                    div.box-content
                        form.validate.form-horizontal(action='#', id='user-form')
                            div.control-group
                                label.control-label(for='user-id') Login Id
                                div.controls
                                    input.required(type='text',name='user-id',id='user-id', data-property='id')
                            div.control-group
                                label.control-label(for='user-name') User Name
                                div.controls
                                    input.required(type='text',name='user-name',id='user-name', data-property='name', autocomplete='off')
                            div.control-group
                                label.control-label(for='user-password') Password
                                div.controls
                                    input.required(type='password',name='user-password',id='user-password', data-property='password', autocomplete='off')
                            div.control-group
                                label.control-label(for='user-password-verification') Repeat Your Password
                                div.controls
                                    input.required(type='password',name='user-password-verification',id='user-password-verification', data-property='retryPassword')
                            div.control-group
                                label.control-label(for='user-company') Company
                                div.controls
                                    select.required(id='user-company', name='user-company', data-property='company_id')
                                        option(value='') Choose one
                                        each companyItem, index in companies
                                            option(value='#{companyItem._id}') #{companyItem.name}
                            div.control-group
                                label.control-label(for='user-admin') Set as administrator
                                div.controls
                                    input(type='checkbox',name='user-admin',id='user-admin', data-property='admin')
                            div.form-actions
                                input.btn.btn-primary(type='submit', value='Save', id='save-user')
                                input.btn.btn-danger(type='reset',style='margin-left:3px;')
        div.row-fluid
            div.span12
                div.box
                    div.box-head.tabs
                        h3='All Users'
                    div.box-content.box-nomargin
                        div.tab-content
                            div.tab-pane.active
                                table.table.table-striped.dataTable.table-bordered(id='users-holder')
                                    thead
                                        tr
                                            th Login Id
                                            th Name
                                            th Company
                                            th Administrator
                                            th Action
                                    each userItem, userIndex in users
                                        tr
                                            td #{userItem.id}
                                            td #{userItem.name}
                                            td(data-property="company_id", data-type="select") #{userItem.company_name}
                                            td(data-property='admin', data-type='checkbox')
                                                if userItem.admin
                                                    | Yes
                                                else 
                                                    | No
                                            td.actions
                                                div.btn-group
                                                    -var userInfo = JSON.stringify(userItem);
                                                    input(type='hidden', value='#{userInfo}', data-entity="entity")
                                                    a.btn.btn-mini.tip.updateRow(href='#info-modal',data-toggle='modal', data-original-title='Change Info', title='Change Info')
                                                        img(src='/images/icons/fugue/gear.png', alt='')
                                                    a.btn.btn-mini.tip.deleteRow(href='#info-modal',data-toggle='modal', data-original-title='Remove', title='Remove', data-user-id="#{userItem.id}")
                                                        img(src='/images/icons/fugue/cross.png', alt='')
                            if users.length > 1
                                div.dataTables_info #{users.length} entries
                            else 
                                div.dataTables_info #{users.length} entry
                            div.dataTables_paginate.paging_bootstrap.pagination(style='display:none;')
                                ul
                                    li.prev.disabled
                                        a(href='javascript:void(0);') &lt;Previous
                                    li.active
                                        a(href='javascript:void(0);') 1
                                    li.next.disabled
                                        a(href='javascript:void(0);') Next&gt;
                            div.modal.hide(id='info-modal')
                                div.modal-header
                                    button.close(data-dismiss='modal', type='button') ×
                                    h3='Change user Info'
                                div.modal-body
                                div.modal-footer
                                    a.btn(data-dismiss='modal', href='#') Close
                                    a.btn.btn-primary(data-dismiss='modal', href='#') Confirm
        -var companyData = {};
        each companyItem, index in companies
            -companyData[companyItem._id] = companyItem.name;
        -companyData = JSON.stringify(companyData);
        input(type='hidden', value='#{companyData}', id='company-dataset')
block scriptContent
    script(type='x/template', id='user-row-template').
        <tr data-user-id="{id}">
            <td data-user-name="{name}">{name}</td>
            <td data-user-password="{password}">{password}</td>
            <td data-user-company_id="{company_id}">{company_id}</td>
            <td class="actions">
                <div class="btn-group">
                    <a href='#info-modal' data-toggle='modal' class="btn btn-mini tip">
                        <img src="/images/icons/fugue/gear.png" alt=""/>
                    </a>
                    <a href='#info-modal' data-toggle='modal' class="btn btn-mini tip deleteRow">
                        <img src="/images/icons/fugue/cross.png" alt=""/>
                    </a>
                </div>
            </td>
        </tr>
    script(type='x/template', id='update-form').
        <div class="modal-body">
            <form class="validate form-horizontal" action="#" id="user-change-form">
                <input type="hidden" value="{id}" data-property="id">
                <div class="control-group">
                    <label class="control-label" for="user-name">Name</label>
                    <div class="controls">
                        <input class="required" type="text" name="user-name" id="user-name" value="{name}" data-property="name" autocomplete="off"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user-password">Password</label>
                    <div class="controls">
                        <input class="required" type="password" name="user-password" id="user-password" value="" data-property="password" autocomplete="off"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user-company">Company</label>
                    <div class="controls">
                        <select class="required" data-property="company_id" id="user-company"><select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="user-admin">Set as administrator</label>
                    <div class="controls">
                        <input type="checkbox" name="user-admin" id="user-admin" data-property="admin"/>
                    </div>
                </div>
            </form>
        </div>
    script.
        seajs.use(['jquery', 'static/users/event']);